<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wolfgang.operation.core.dal.mapper.OperationInstanceMapper">
    <resultMap id="BaseResultMap" type="com.github.wolfgang.operation.core.dal.dataobject.OperationInstanceDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="oper_id" property="operId" jdbcType="INTEGER"/>
        <result column="instance_type" property="instanceType" jdbcType="VARCHAR"/>
        <result column="instance_id" property="instanceId" jdbcType="VARCHAR"/>
        <result column="oper_status" property="operStatus" jdbcType="VARCHAR"/>
        <result column="biz_key" property="bizKey" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseColumnList">
        <!-- WARNING - @mbg.generated -->
        id, oper_id, instance_type, instance_id, oper_status, biz_key
    </sql>
</mapper>